@import "tailwindcss";

:root {
  --font-size: 14px;
  --primary: #030213;
  --primary-foreground: oklch(1 0 0);
  --border: rgba(0, 0, 0, 0.1);
  --ring: oklch(0.708 0 0);
  --radius: 0.625rem;
  --font-weight-medium: 500;
  --font-weight-normal: 400;
}

@theme inline {
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-border: var(--border);
  --color-ring: var(--ring);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
}

body {
  @apply bg-gradient-to-br from-red-950 via-blue-950 to-purple-950 font-sans;
}

html {
  font-size: var(--font-size);
}

@layer utilities {
  .text-10xl {
    font-size: 12rem;
    line-height: 1;
  }
  
  .text-11xl {
    font-size: 14rem;
    line-height: 1;
  }
  
  .text-12xl {
    font-size: 16rem;
    line-height: 1;
  }
}
